body {
    background-color: #f1ecec;
    margin: 0;
    padding: 0;
}

/* Header con navs*/

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header nav:first-child {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

header nav:first-child div {
    display: flex;
    gap: 20px;
}

header nav:nth-child(2) {
    background-color: white;
}

header nav:nth-child(2) img {
    height: 40px;
}

header nav:nth-child(2) ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

/* Section 1*/

section:first-child {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

section:first-child p {
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 10px;
}

section:first-child h2 {
    font-size: 48px;
    line-height: 1.2;
    margin: 20px 0;
}

section:first-child button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 14px;
}



